<div id="container">
  <div id="new-todo-form">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="newTodoTitle" required />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="newTodoDescription"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTodo()">Add Todo</button>
  </div>
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <h4 matLine>
            <mat-checkbox
              [checked]="todo.isClosed"
              (change)="toggleTodo(todo)"
            ></mat-checkbox>
            <span [ngClass]="{ 'crossed-out': todo.isClosed }">
                {{ todo.title }}
            </span>
            <button mat-raised-button
                    class="detail-button"
                    (click)="viewDetails(todo)"
            >
              Detail
            </button>

          </h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
